@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Libre Baskerville", serif;
  font-size: var(--font-size);
  line-height: 1.375em;
  font-weight: 300;
  width: 100%;
}

.layout {
  background-color: var(--color);
}
.home {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-size: 48px;
  line-height: 1.05em;
  font-weight: 800;
  font-family: var(--title-font);
  letter-spacing: 1px;
  text-align: center;
  margin: 30px auto;
  max-width: 1000px;
}
h2 {
  font-size: 36px;
  line-height: 1.25em;
  font-family: var(--title-font);
}
h3 {
  font-size: 28px;
  line-height: 1.25em;
  font-family: var(--title-font);
}

h4 {
  font-size: 22px;
  line-height: 1.22em;
  color: var(--bgc-two);
  font-family: var(--title-font);
}
