@import "./variables.css";

/* Hard skills */

.home .hard-skills {
  margin-top: -8rem !important ;
  margin-bottom: 8rem !important ;
  height: 580px;
  width: 1200px;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  background-color: var(--bcg-hard-skills);
  box-shadow: var(--shadow);
}
.home .hard-skills div {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 45px;
  border-bottom: var(--border-two);
  text-align: center;
}
.home .hard-skills div .icon-code,
.home .hard-skills div .icon-database,
.home .hard-skills div .icon-smartphone {
  color: var(--bgc-two);
  font-size: 42px;
}
.home .hard-skills div:not(:last-child) {
  border-right: var(--border-two);
}
