@import "./variables.css";

header {
  background-color: var(--bgc);
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--footer-bgc);
  height: 100%;
  width: 100%;
}
header nav a {
  color: var(--color);
  font-family: var(--title-font);
  position: relative;
}
header nav a:after {
  content: "";
  width: 80%;
  background-color: var(--color);
  height: 1px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.5s ease-in-out;
}
header nav a:hover::after {
  transform: translate(-50%) scaleX(1);
}

header .name {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  color: var(--color);
}

header .language {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
header .language select {
  outline: none;
  color: var(--color);
  background-color: var(--footer-bgc);
  border: none;
}
