.home .last-works {
  width: 70%;
  margin: 20px auto 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.home .last-works .bocoloco {
  position: relative;
  padding: 8px 12px;
  width: 80%;
  height: 340px;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);
}
.home .last-works .bocoloco .image {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
}
.home .last-works .bocoloco .image img {
  object-fit: cover;
  width: 100%;
}
.home .last-works .bocoloco .key-infos {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.home .last-works .bocoloco .key-infos > div {
  margin-top: 10px;
}
