@import "./variables.css";
@import "../fonts/font2/stylesheet.css";

/* presentation */
.home .presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-color: var(--bgc);
  color: var(--color);
  gap: 30px;
  height: 600px;
  width: 100%;
}
.home .presentation h1 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 800;
  font-family: "UniversLTW04-63BoldExtended";
  letter-spacing: 1px;
  text-align: center;
  margin: 30px auto;
  max-width: 1000px;
}
.home .presentation p {
  max-width: 800px;
  text-align: justify;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
}
