@import "./variables.css";

.home .projects {
  width: 70%;
  margin: 20px auto 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.home .projects p {
  max-width: 850px;
  text-align: center;
}
.home .projects p a {
  color: var(--bgc-two);
  font-weight: bold;
}

.home .projects .all-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 135px;
  margin-top: 90px;
}
