@media screen and (max-width: 1200px) {
  .home .hard-skills {
    height: inherit;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: inherit;
    box-shadow: inherit;
  }
  .home .hard-skills div {
    width: 100%;
    background-color: var(--bcg-hard-skills);
    box-shadow: var(--shadow);
    border-radius: 15px;
  }
  .home .hard-skills div:not(:last-child) {
    border-right: none;
  }
}
@media screen and (max-width: 1000px) {
  .home .home-header p {
    max-width: 700px;
  }
  .home .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: var(--bgc);
    color: var(--color);
    gap: 30px;
    height: inherit;
    width: 100%;
  }
  .home .home-header .title {
    font-size: 60px;
  }

  .home .presentation p {
    text-align: justify;
    margin-bottom: 10em;
  }

  footer .new-project {
    grid-template-columns: 100%;
    row-gap: 40px;
    width: 80%;
    height: 290px;
    padding: 20px 0;
  }
}
@media screen and (max-width: 800px) {
  .home .home-header p {
    max-width: 600px;
  }
  .contact form .first-inputs input[type="text"],
  .contact form .first-inputs input[type="email"] {
    width: 250px;
  }

  .contact form textarea[name="message"] {
    max-width: 520px;
  }
  .home .projects .all-projects {
    gap: 55px;
  }
  .all-projects .project {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .home .home-header p {
    max-width: 300px;
  }
  .home .presentation {
    margin-bottom: 2em !important;
  }

  .contact form .first-inputs input[type="text"],
  .contact form .first-inputs input[type="email"] {
    width: 120px;
  }

  .contact form textarea[name="message"] {
    max-width: 260px;
  }
}
